@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #1e293b; /* slate-800 background color */
    border-radius: 10px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #475569; /* slate-600 thumb color */
    border-radius: 10px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* slate-500 thumb color on hover */
  }

  /* For Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #475569 #1e293b; /* slate-600 thumb color, slate-800 track color */
  }
}
